<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
</head>
<body>
<header th:fragment="headerFragment">
  <div class="header-wrap">
    <img class="header-logo" src="/image/logo2-removebg-preview.png" alt="logo-img">
    <div class="search-bar">
      <input type="text">
      <div class="search-btn"></div>
    </div>
<!--    <a class="login-link" th:href="@{/login}">login</a>-->

    <div th:if="${#authorization.expression('isAuthenticated()')}">
      <span th:text="${#authentication.principal.user.nickname + ' 님'}"></span>
      <a class="login-link" th:href="@{/logout}">로그아웃</a>
    </div>

    <div th:unless="${#authorization.expression('isAuthenticated()')}">
      <a class="login-link" th:href="@{/login}">로그인</a>
    </div>
  </div>
</header>
</body>
</html>
