<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>내 여행 목록</title>
</head>
<body>
<header th:replace="~{fragments/header :: headerFragment}"></header>

<h1>내 여행 일정</h1>
<a href="/trip/new">+ 새 여행 만들기</a>

<section>
    <table border="1">
        <thead>
        <tr>
            <th>제목</th>
            <th>도시</th>
            <th>여행 기간</th>
            <th>총 일수</th>
            <th>공개 범위</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(trips)}">
            <td colspan="5">등록된 여행 일정이 없습니다. 상단의 [새 여행 만들기]를 눌러보세요.</td>
        </tr>
        <tr th:each="trip : ${trips}">
            <td th:text="${trip.title} ?: '제목 없음'"></td>
            <td th:text="${trip.city}"></td>
            <td>
                <span th:text="${trip.startDate}"></span>
                ~
                <span th:text="${trip.endDate}"></span>
            </td>
            <td th:text="${trip.totalDays}"></td>
            <td th:text="${trip.visibility}"></td>
            <td><button>수정하기</button><button>삭제하기</button></td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>
